RewriteEngine On

# Verifica si el archivo o directorio existe antes de reescribir la URL
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# Redirige solicitudes a archivos en /endpoints/ sin necesidad de .php
RewriteRule ^endpoints/([^/]+)$ endpoints/$1.php [QSA,L]
